<a href="https://colab.research.google.com/github/miemguri/Talentotech2024/blob/main/1_Practicabancos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica 1 de Talento Tech: Incluye importar un Dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Paso 1: Importar las librerias requeridas
# Paso 1: Debo tener el archivo en una carpeta
# Paso 2: Debo establecer una conexión con la carpeta
# Paso 3: Ejecutar la celda de la conexión y revisar que este OK

# Ingreso de nuevos datos

In [ ]:
from google.colab import drive # Traemos la clase drive, dentro del módulo colab, del paquete google
drive.mount('/content/drive') # Establecemos la conexión através del método mount

In [4]:
ruta = '/content/drive/MyDrive/Practica2LimpiezadeDatos/dataset_banco.csv'

In [5]:
import pandas as pd

In [6]:
import matplotlib.pyplot as plt

In [7]:
import seaborn as sns

In [8]:
data = pd.read_csv(ruta)

In [ ]:
"""# 1. El problema del negocio

Una entidad bancaria contrata a una empresa de marketing encargada de contactar telefónicamente a posibles clientes para determinar si están interesados o no en adquirir un certificado de depósito a término con el banco.

¿Qué perfil tienen los clientes con mayor potencial de conversión?

#2. El set de datos

La información recolectada por la empresa de mercadeo se encuentra en un archivo CSV (`dataset_banco.csv`) con 45215 filas y 17 columnas.

Cada registro contiene 16 características (las primeras 16 columnas) y una categoría ("yes" o "no" dependiendo de si la persona está o no interesada en adquirir el producto). Las columnas son:

1. "age":  edad (numérica)
2. "job": tipo de trabajo (categórica: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student", "blue-collar","self-employed", "retired", "technician", "services")
3. "marital": estado civil (categórica: "married", "divorced", "single")
4. "education": nivel educativo (categórica: "unknown", "secondary", "primary", "tertiary")
5. "default": si dejó de pagar sus obligaciones (categórica: "yes", "no")
6. "balance": saldo promedio anual en euros (numérica)
7. "housing": ¿tiene o no crédito hipotecario? (categórica: "yes", "no")
8. "loan": ¿tiene créditos de consumo? (categórica: "yes", "no")
9. "contact": medio a través del cual fue contactado (categórica: "unknown", "telephone", "cellular")
10. "day": último día del mes en el que fue contactada (numérica)
11. "month": último mes en el que fue contactada (categórica: "jan", "feb", "mar", ..., "nov", "dec")
12. "duration": duración (en segundos) del último contacto (numérica)
13. "campaign": número total de veces que fue contactada durante la campaña (numérica)
14. "pdays": número de días transcurridos después de haber sido contactado antes de la campaña actual (numérica. -1 indica que no fue contactado previamente)
15. "previous": número de veces que ha sido contactada antes de esta campaña (numérica)
16. "poutcome": resultado de la campaña de marketing anterior (categórica: "unknown", "other", "failure", "success")
17. "y": categoría ¿el cliente se suscribió a un depósito a término? (categórica: "yes", "no")

#4. Limpieza

Realizaremos el proceso de limpieza teniendo en cuenta las situaciones más comunes:

1. Datos faltantes en algunas celdas
2. Columnas irrelevantes (que no responden al problema que queremos resolver)
3. Registros (filas) repetidos
4. Valores extremos (*outliers*) en el caso de las variables numéricas. Se deben analizar en detalle pues no necesariamente la solución es eliminarlos
5. Errores tipográficos en el caso de las variables categóricas

Al final de este proceso de limpieza deberíamos tener un set de datos **íntegro**, listo para la fase de Análisis Exploratorio."""

In [10]:
print (data.shape)
data.head()

(45215, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

# **Creación y Lectura de DataFrames:**

*   pd.DataFrame(data): Crea un DataFrame a partir de datos.
*   pd.read_csv('archivo.csv'): Lee un archivo CSV y crea un DataFrame.
*   pd.read_excel('archivo.xlsx'): Lee un archivo Excel y crea un DataFrame.

# **Visualización y Exploración de Datos:**


*   df.head(): Muestra las primeras filas del DataFrame.
*   df.tail(): Muestra las últimas filas del DataFrame.
*   df.info(): Muestra información sobre el DataFrame, incluyendo tipos de datos y valores no nulos.
*   df.describe(): Proporciona estadísticas descriptivas para columnas numéricas.
*   df.shape: Devuelve una tupla con la cantidad de filas y columnas del DataFrame.
*   df.columns: Devuelve una lista con los nombres de las columnas del DataFrame.

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info('Region')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Region    18 non-null     object
 1   Producto  18 non-null     object
 2   Vendedor  18 non-null     object
 3   Ventas    18 non-null     int64
dtypes: int64(1), object(3)
memory usage: 704.0+ bytes

In [ ]:
df.describe()

In [ ]:
# Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
print(df.head(5))
#print("\n")

Ejercicio 1: Mostrar las primeras filas del DataFrame
    Region      Producto Vendedor  Ventas
0  Central    Accesorios    David    8287
1  Central    Accesorios    Karen    6909
2  Central  Dispositivos    David   11420
3  Central  Dispositivos    Karen   12948
4  Central      Sistemas    David   20098

In [ ]:
# Ejercicio 2: Calcular el total de ventas por región
print("Ejercicio 2: Calcular el total de ventas por región")
ventas_por_region = df.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df.head(10))

Ejercicio 2: Calcular el total de ventas por región
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


    Region      Producto Vendedor  Ventas
0  Central    Accesorios    David    8287
1  Central    Accesorios    Karen    6909
2  Central  Dispositivos    David   11420
3  Central  Dispositivos    Karen   12948
4  Central      Sistemas    David   20098
5  Central      Sistemas    Karen   30633
6     Este    Accesorios      Ana    9323
7     Este    Accesorios    Lucas    7667
8     Este  Dispositivos      Ana   10348
9     Este  Dispositivos    Lucas    9312

In [ ]:
# Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David")
ventas_david = df[df['Vendedor'] == 'David']
print(ventas_david)
print("\n")

In [ ]:
# Ejercicio 4: Calcular el promedio de ventas por region
print("Ejercicio 4: Calcular el promedio de ventas por region")
ventas_por_producto = df.groupby('Region')['Ventas'].mean()
print(ventas_por_producto)
print("\n")

In [ ]:
# Ejercicio 5: Ordenar el DataFrame por ventas en orden descendente
print("Ejercicio 5: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df.sort_values(by='Ventas', ascending=False)
print(df_ordenado)

## Manipulación de Datos:

*   Filtra las filas donde las ventas sean mayores a 10000.
*   Ordena el DataFrame por la columna "Ventas" en orden descendente.
*   Elimina la columna "Vendedor".

In [ ]:
# Ejercicio 6: Filtrar las filas con ventas mayores a 10000
print("Ejercicio 4: Filtrar las filas con ventas mayores a 10000")
df_filtrado = df[df['Ventas'] > 10000]
print(df_filtrado)
print("\n")

In [ ]:
# Ejercicio 7: Ordenar el DataFrame por ventas en orden descendente
print("Ejercicio 5: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df.sort_values(by='Ventas', ascending=False)
print(df_ordenado)
print("\n")

In [ ]:
# Ejercicio 8: Eliminar la columna "Vendedor"
print("Ejercicio 6: Eliminar la columna 'Vendedor'")
df_sin_vendedor = df.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

Ejercicio 6: Eliminar la columna 'Vendedor'
     Region      Producto  Ventas
0   Central    Accesorios    8287
1   Central    Accesorios    6909
2   Central  Dispositivos   11420
3   Central  Dispositivos   12948
4   Central      Sistemas   20098
5   Central      Sistemas   30633
6      Este    Accesorios    9323
7      Este    Accesorios    7667
8      Este  Dispositivos   10348
9      Este  Dispositivos    9312
10     Este      Sistemas   13531
11     Este      Sistemas   13374
12    Oeste    Accesorios    4744
13    Oeste    Accesorios    5442
14    Oeste  Dispositivos   10711
15    Oeste  Dispositivos    8780
16    Oeste      Sistemas   32855
17    Oeste      Sistemas   23151

## Agregación y Agrupación de Datos:

*   Calcular el total de ventas por región.
*   Calcular el total de ventas por producto.

In [ ]:
# Ejercicio 9: Calcular el total de ventas por región
print("Ejercicio 9: Calcular el total de ventas por región")
ventas_por_region = df.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")

In [ ]:
# Ejercicio 10: Calcular el total de ventas por producto
print("Ejercicio 10: Calcular el total de ventas por producto")
ventas_por_producto = df.groupby('Producto')['Ventas'].sum()
print(ventas_por_producto)
print("\n")

In [ ]:
#crear un Dataframe de Pandas con Datos de una Persona
data = {
    'id': [1, 2, 3, 4, 5],
    'weight': ['144.5', '5.9', '33', 'M','541'],
    'height': ['David', 'Karen', 'David', 'Karen', 'David'],
    'age': [8287, 6909, 11420, 12948, 20098],
    'gender': [8287, 6909, 11420, 12948, 20098]
}

df_persona = pd.DataFrame(data)

In [ ]:
df_persona.head()

   id weight height    age  gender
0   1  144.5  David   8287    8287
1   2    5.9  Karen   6909    6909
2   3     33  David  11420   11420
3   4      M  Karen  12948   12948
4   5    541  David  20098   20098

In [ ]:
#Ejercicio: leer un .TXT con valores númericos y string