<a href="https://colab.research.google.com/github/miemguri/Talentotech2024/blob/main/4TallerSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TALLER SQL

INTRODUCCIÓN
Usaré este notebook https://www.kaggle.com/code/gustavojaramillo/data-analysis-using-sql-espa-ol para proporcionar una guia practica de introducción a SQL, lenguaje imprescindible para todo analista de datos.

Los sistemas gestores de bases de datos interpretan consultas escritas en lenguaje SQL, y así es como interactuamos y obtenemos datos de las bases de datos y aplicaciones.

SQL significa Structured Query Language (Lenguaje de consulta estructurado)
SQL permite acceder y manipular bases de datos
SQL es una herramienta simple para el análisis avanzado de datos
SQL no se usa sólo para manipular datos, sino también para administrar la misma base de datos, crear y modificar el diseño de objetos de la base de datos, como tablas. El elemento de SQL que se usa para crear y modificar objetos de base de datos se denomina lenguaje de definición de datos (DDL). Este curso no trata DDL.

En esta notebook veremos cómo trabajar/manipular tablas. Aprenderemos a usar SQL para interactuar con una base de datos de fútbol europeo y generar información interesante con sus datos.

La base de datos utilizada se encuentra en https://www.kaggle.com/datasets/hugomathien/soccer/data

1.1 Definiciones importantes
Aunque SQL es un estándar ANSI/ISO, existen diferentes versiones del lenguaje SQL. Sin embargo, para cumplir con el estándar del American National Standards Institute (ANSI), todas las versiones deben soportar al menos los comandos principales (como SELECT, UPDATE, DELETE, INSERT, WHERE) de forma similar.

En este caso, vamos a trabajar con SQLite que es una implementación específica. La mayoría de los lenguajes SQL comparten todas las capacidades de este notebook. Las diferencias suelen estar en el rendimiento y en las funcionalidades analíticas avanzadas (y a veces en los errores, por supuesto).

1.2 ¿Qué es SQLite?
SQLite es una biblioteca de software que proporciona un sistema de gestión de bases de datos relacionales que se puede utilizar en casi todos los lenguajes de programación, incluido Python.

El lite en SQLite significa facilidad en términos de configuración, administración de la base de datos y recursos necesarios. Las siguientes son sus características más importantes: es autónomo, sin servidor y transaccional.

Más información acerca de SQLite: https://www.sqlitetutorial.net/

1.2.1 Configuraciones previas
SQLite se puede utilizar en casi todos los lenguajes de programación, incluido Python. Esta notebook corre en Python, por lo que vamos a importar la librería de SQLite y otras que nos pueden ser de utilidad más adelante.

Asimismo, crearemos la conexión con la BD y listaremos las tablas con las que contamos.

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

#Taller SQL
En este taller  vamos a analizar UnicodeError dataset  de la liga europea de futbol

In [ ]:
# Importacion de librerías
import pandas as pd
import sqlite3 # SQLite

In [ ]:
#lectura
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Los datos de entrada están disponibles en el directorio "Drive".
path = '/content/drive/MyDrive/Colab Notebooks/data/db/'
database = path + 'database.sqlite'

In [ ]:
# Creamos la conexión con la BD
conn = sqlite3.connect(database)
print ("Conexión exitosa")

In [ ]:
print(database)

2. Sentencia SELECT
Esta es la consulta más básica y su estructura es muy simple:

Se define lo que se quiere ver después del SELECT
Se eligen las tablas a consultar después del FROM
Las únicas partes imprescindibles de una consulta son el SELECT y el FROM.

La sintaxis de esta consulta es así:

SELECT column1, column2, ...

FROM table_name;

Para consultar por todos los campos en una tabla sin tener que escribir uno por uno el nombre de cada campo, se utiliza SELECT *

SELECT * significa que quieres obtener todas las columnas posibles de la tabla consultada. Los datos devueltos se almacenan en una tabla de resultados, denominada conjunto de resultados.

La sintaxis de esta consulta es así:

SELECT *

FROM table_name;

Es una buena práctica terminar la consulta con un punto y coma para indicar que la consulta está completa. Las palabras clave se escriben en mayúsculas y los nombres de tablas y campos se escriben en minúsculas.

In [ ]:
#listaremos las tablas con las que contamos:
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

In [ ]:
#Listar todos los partidos
query = """SELECT *
            FROM Match; """
matchs = pd.read_sql(query, conn)
matchs

2.1.1 Ejemplo: Listar los países

Queremos consultar qué países se encuentran en la tabla Country de la base de datos del fútbol europeo.

Importante: La estructura y el orden de las secciones son importantes, mientras que los espacios, las nuevas líneas, las mayúsculas y las sangrías están ahí para facilitar la lectura del código.

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
#Listar los paises que se encuentran en la tabla Country de la base de datos del fútbol europeo.
query = """SELECT *
            FROM Country; """
countries = pd.read_sql(query, conn)
countries
#11 paises se encuentran en la tabla country

2.1.2 Práctica: Listar las ligas del fútbol europeo

Deben listar todas las ligas que estén en la tabla League de la base de datos de fútbol europeo.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" justo después de la palabra query =

Una vez que estén lo tengan listo, ejecuten haciendo clic en ejecutar (o Shift+Enter) el códido de abajo

In [ ]:
#Consultar todas las ligas del fútbol europeo.

query = """SELECT *
            FROM league; """

leagues = pd.read_sql(query, conn)
leagues
#Son 11 ligas de futbol

2.1.3 Práctica: Listar los jugadores del fútbol europeo

Deben listar los campos id,player_name, birthday, height y weight que estan en la tabla Player de la base de datos de Fútbol Europeo.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT id, player_name, birthday, height, weight
            FROM player;
            """
players = pd.read_sql(query,conn)
players
# Se observa el id, nombre, fecha de nacimiento, altura y peso de 11.059 jugadores,
#incluyendo los nombres que no tienen un apellido

In [ ]:
#Listar jugadores del fútbol europeo
query = """ SELECT DISTINCT player_name
              FROM player; """
players = pd.read_sql(query, conn)
players
#Son 10.848 nombres de los jugadores con valores unicos en la tabla player.

2.2 Sentencia SELECT DISTINCT
La sentencia SELECT DISTINCT se utiliza para devolver sólo valores distintos (diferentes).

Dentro de una tabla, una columna a menudo contiene muchos valores duplicados y a veces sólo se desea listar los diferentes valores (distintos).

La sintaxis de SELECT DISTINCT es así:    
SELECT DISTINCT column1  
FROM table_name;

2.2.1 Ejemplo: Listar las temporadas jugadas de esta Base de Datos

Si consultamos por todas las temporadas que se almacenaron en la tabla Matchde la base de datos de Fútbol Europeo, vamos a tener el siguiente resultado.

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

Con el resultado anterior, es muy difícil responder a la pregunta ¿Cuáles son las temporadas almacenadas en esta base de datos? Para responderla sin mucho esfuerzo, usamos SELECT DISTINCT para consultar la tabla Match de la base de datos.

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT DISTINCT season
            FROM Match; """
seasons = pd.read_sql(query, conn)
seasons
#las distintas temporadas son 8 comprendidas entre los años 2008 y 2016

In [ ]:
 # CONTAR temporadas de los partidos
query = """ SELECT COUNT(season)
            FROM Match; """
seasons = pd.read_sql(query, conn)
seasons
# En total son 25.979 temporadas de juego

In [ ]:
 # Listar temporadas de los partidos
query = """ SELECT season
            FROM Match; """
seasons = pd.read_sql(query, conn)
seasons

2.2.2 Práctica:

Listar sólo tasas diferentes de valoración general de los jugadores.

En la tabla Player_Attributes de la base de datos de Fútbol Europeo hay el campo overall_rating que parece contener la valoración de los jugadores. El objetivo es ver sólo tasas diferentes de valoración general de los jugadores.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT DISTINCT overall_rating
FROM player_attributes; """
overall_rating = pd.read_sql(query,conn)
overall_rating
# Tasas diferentes de valoración general de los jugadores

In [ ]:
# Campo overall_rating contiene la valoración de la totalidad de jugadores
query = """ SELECT id, overall_rating
FROM player_attributes; """
overall_rating = pd.read_sql(query,conn)
overall_rating
# se observa la valoracion de todos los jugadores por id y clasificacion

3. Sentencia LIMIT
Cuando deseamos poner un límite al resultado o no nos interesa conocer la totalidad de los resultados, podemos limitar la cantidad de registros resultantes mediante la sentencia LIMIT

La sintaxis de LIMIT es así:

SELECT column1, column2...

FROM table_name

LIMIT number;

3.1.1 Ejemplo:

Listar 15 jugadores de la base de datos del fútbol europeo¶

Queremos listar 15 jugadores de la tabla Player de la base de datos de Fútbol Europeo. En la tabla de resultados quiero ver los campos ìd,player_name, birthday, height y weight. Todos se encuentran en la tabla Player

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT id, player_name, birthday, height, weight
            FROM player
            LIMIT 15; """
players = pd.read_sql(query,conn)
players
# Se puede observar el id, nombre,fecha de nacimiento, altura y peso de 15 jugadores.

3.1.2 Práctica:

Deben listar 25 equipos del fútbol europeo. La tabla de resultados deberá contener los campos id y team_long_name de la tabla Team de la base de datos de Fútbol Europeo.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
# SELECT column1, column2, ...FROM table_name;
query = """ SELECT id, team_long_name
            FROM team LIMIT 25; """

teams = pd.read_sql(query, conn)
teams
# Se observa el id y nombre de 25 equipos de futbol

In [ ]:
# SELECT column1, column2, ...FROM table_name;
query = """ SELECT *
            FROM team; """
teams = pd.read_sql(query, conn)
teams
# Muestra el nombre de todos 298 equipos

4. Funciones agregativas/ Métricas

Todas las métricas tienen que ser agregadas usando funciones. Las funciones agregativas más comunes son:

SUM()| Sumatoria total de una columna tipo numérica.

COUNT()| Devuelve la cantidad de filas.

COUNT(DISTINCT)| Devuelve la cantidad de filas distintas o diferentes.

AVG() | Promedia los valores de una columna tipo numérica.

MIN() | Menor valor dentro de la columna especificada.

MAX() | Mayor valor dentro de la columna especificada.

La sintaxis de las métricas en la sentencia SELECT es así:

SUM()

SELECT SUM(column1), column2...
FROM table_name

COUNT()

SELECT COUNT(column1), column2...
FROM table_name

COUNT(DISTINCT)

SELECT COUNT(DISTINCT column1), column2...
FROM table_name

AVG()

SELECT AVG(column1), column2...

FROM table_name

MIN()

SELECT MIN(column1), column2...

FROM table_name

MAX()

SELECT MAX(column1), column2...

FROM table_name

4.1.1 Ejemplo:

¿Cuántos países diferentes están almacenados en la tabla Country?
Para consultar por el número de países diferentes almacenados en la tabla Country y que la tabla de resultados nos muestre únicamente el número con la cantidad de países, necesitamos usar una función agregativa que cuente el número de registros pero además, que cuente sólo los registros distintos. Esa función es COUNT(DISTINCT )

Ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT COUNT(DISTINCT name)
            FROM country; """
countries = pd.read_sql(query, conn)
countries

4.1.2 Práctica:


Deben traer el número de etapas stage almacenados en la tabla Match de la base de datos de Fútbol Europeo. La tabla de resultados deberá mostrar únicamente el número con la cantidad de etapas diferentes.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
#Traer el número de etapas jugadas de la tabla Match
query = """ SELECT COUNT(DISTINCT stage) AS conteo_temporadas
        FROM match; """
stages = pd.read_sql(query, conn)
stages
# En todas las ligas europeas em el periodo de tiempo entre 2008 al 2016 se jugaron 38 temporadas

4.1.3 Práctica:

Traer la suma de goles hechos por los equipos visitantes de la tabla Match

Deben traer la suma de goles hechos por los equipos visitantes away_team_goal almacenados en la tabla Match de la base de datos de Fútbol Europeo. La tabla de resultados deberá mostrar únicamente el número con la suma de goles.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """SELECT SUM(away_team_goal)
            FROM match; """
sum_awayteam = pd.read_sql(query, conn)
sum_awayteam
#Los equipos visitantes hicieron un total de 30.160 goles

Ejercicios personales otras funciones:

In [ ]:
#Mostrar las temporadas(seasons) 2015- 2016
query = """ SELECT * FROM Match
            WHERE stage = 1 AND SEASON ='2015/2016'; """
Matchs = pd.read_sql(query,conn)
Matchs

In [ ]:
#Mostrar temporadas diferentes a 2015 y 2016
query = """ SELECT * FROM Match
            WHERE NOT season ='2015/2016'; """
Matchs = pd.read_sql(query,conn)
Matchs

In [ ]:
query = """ SELECT AVG (height) AS altura
             FROM player; """
jugadores= pd.read_sql(query,conn)
jugadores
#la altura promedio es de 181.86

4.1.4 Práctica:

Traer el promedio de goles hechos por los equipos locales y el promedio de goles hechos por los visitantes de la tabla Match

Deben traer el promedio de goles hechos por los equipos locales home_team_goal y el promedio de goles hechos por los equipos visitantes away_team_goal almacenados en la tabla Match de la base de datos de Fútbol Europeo. La tabla de resultados deberá mostrar únicamente el número con el promedio de goles.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

4.1.5 Práctica: Traer la máxima cantidad de goles que un equipo visitante anotó en los juegos de la tabla Match

Deben traer la máxima cantidad de goles un equipo visitante away_team_goal almacenados en la tabla Match de la base de datos de Fútbol Europeo. La tabla de resultados deberá mostrar únicamente el número con cantidad de goles.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

In [ ]:
query = """ SELECT MAX(away_team_goal)AS MAX_goles_equipo_visitante
           FROM match"""
max_teamgoals = pd.read_sql(query,conn)
max_teamgoals
#La cantidad maxima de goles que un equipo visitante anoto fue 9 goles.

5. Operaciones matemáticas

Se pueden realizar operaciones matemáticas como: +, -, *, /, etc. Asimismo, estás operaciones pueden ser usadas en conjunto con las funciones agregativas/ métricas.

La sintaxis en la sentencia SELECT es así:

+
SELECT column1+column2

FROM table_name

La sintaxis combinando con una métrica en la sentencia SELECT es así:

AVG(+)
SELECT AVG(column1+column2)

FROM table_name

5.1.1 Práctica: Traer el promedio de suma de goles por partido de la tabla Match
Deben traer el promedio de la suma de goles hechos por los equipos locales home_team_goal y visitantes away_team_goal en todos los juegos almacenados en la tabla Match de la base de datos de Fútbol Europeo. La tabla de resultados deberá mostrar únicamente el número con el promedio de goles por partido.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

In [ ]:
query = """SELECT AVG(home_team_goal + away_team_goal) AS promedio_goles
            FROM Match; """
prom_average_goals = pd.read_sql(query, conn)
prom_average_goals
# El numero promedio de goles por equipo fue de 2.70

In [ ]:
query = """ SELECT SUM (home_team_goal), SUM (away_team_goal)
             FROM match; """
prom_average_goals = pd.read_sql(query, conn)
prom_average_goals

6. Sentencia WHERE

La sentencia WHERE se utiliza para filtrar registros. Mediante esta sentencia, se extraen sólo aquellos registros que cumplen una condición específica.

La sintaxis de WHERE es así:

SELECT column1, column2...

FROM table_name

WHERE condition;

6.1 Campos de texto (y fecha) vs campos numéricos
SQL requiere comillas simples alrededor de los valores del texto y fecha (la mayoría de los sistemas de bases de datos también permiten comillas dobles). Sin embargo, los campos numéricos no deben incluirse entre comillas.

Ejemplos de sintaxis con campo númerico:

SELECT *

FROM Customers

WHERE CustomerId = 1;

Ejemplos de sintaxis con campo de texto:

SELECT *

FROM Customers

WHERE Country = 'Mexico';

6.2.1 Ejemplo: Listar los jugadores que pesan 165 libras
Queremos listar a los jugadores que cumplan con la condición de pesar 165 libras. En la tabla de resultados quiero ver los campos id,player_name, birthday, height y weight de los que cumplen la condición. Todos se encuentran en la tabla Player

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

query = """SELECT id, player_name, birthday, height, weight
        FROM Player
        WHERE weight = 165
        LIMIT 15;"""

players_weight = pd.read_sql(query, conn)
players_weight

In [ ]:
query = """SELECT id, player_name, birthday, height, weight
            FROM Player WHERE weight = 165 LIMIT 15;"""

players_weight = pd.read_sql(query, conn)
players_weight

6.2.2 Práctica: Listar las temporadas en que un equipo visitante anotó 7 o más goles

Deben listar las temporadas en que algún equipo visitante haya anotado 7 o más goles. La tabla de resultados deberá contener los campos season, home_team_goal, away_team_goal de la tabla Match de la base de datos de Fútbol Europeo.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """SELECT season, home_team_goal, away_team_goal
            FROM match WHERE away_team_goal >= 7;"""
away_team_goals = pd.read_sql(query, conn)
away_team_goals


6.3 Operadores lógicos en WHERE
La sentencia WHERE puede combinarse con los operadores lógicos: AND, OR y NOT. Los operadores AND y OR se utilizan para filtrar registros basados en más de una condición.

El operador AND muestra un registro si todas las condiciones separadas por AND son VERDADERA(s).
El operador OR muestra un registro si alguna de las condiciones separadas por OR es VERDADERA(s).
El operador NOT muestra un registro si la(s) condición(es) NO es VERDADERA(s).

Sintaxis de AND:

SELECT column1, column2, ...

FROM table_name

WHERE condition1 AND condition2 AND condition3 ...;

Sintaxis de OR

SELECT column1, column2, ...

FROM table_name

WHERE condition1 OR condition2 ...;

Sintaxis de NOT

SELECT column1, column2, ...

FROM table_name WHERE NOT condition;

6.3.1 Práctica: Traer el Id de los equipos que desarrollan un dribbling normal y su velocidad de juego es balanceada

Tomando la tabla Team_Attributes de la base de datos de Fútbol Europeo, deben obtener el id,buildUpPlayDribblingClass y buildUpPlaySpeedClass de los equipos que tengan los siguientes atributos:

buildUpPlayDribblingClass = 'Normal'
buildUpPlaySpeedClass = 'Balanced'

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """SELECT id, buildUpPlayDribblingClass, buildUpPlaySpeedClass
            FROM Team_Attributes WHERE buildUpPlayDribblingClass = 'Normal'AND buildUpPlaySpeedClass = 'Balanced'; """
team_att_or = pd.read_sql(query, conn)
team_att_or

6.3.3 Práctica:
Traer la tabla de países sin Bélgica

Deben filtrar la tabla de países y traerla sin Belgium. La tabla de resultados deberá contener los campos id y name de la tabla Country de la base de datos de Fútbol Europeo.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
# Mostrar todos los paises de la BD de Futbol europeo excepto Belgica
query = """ SELECT id, name

            FROM country WHERE NOT name= 'Belgium'; """
countries_not = pd.read_sql(query, conn)
countries_not

6.4 Otros operadores que trabajan con la sentencia WHERE

Los siguientes operadores también pueden ser utilizados en la sentencia WHERE:

| = | Igual

| > | Mayor que

| < | Menor que

| >= | Mayor o igual que

| <= | Menor o igual que

| <> | No igual. Nota: En algunas versiones de SQL este operador puede ser escrito como !=

| BETWEEN | Entre cierto rango

| LIKE | Para consultar los datos basados en información parcial, se utiliza el operador LIKE en la sentencia WHERE. Busca un patrón. El patrón va antes, después o entre un par de % (wildcard). Ejemplo: LIKE 's%' busca cualquier texto que comience con 's'. LIKE '%er' busca cualquier texto que termine con 'er'. Y LIKE '%per%' busca cualquier texto que contenga 'per'.

| IN | Para especificar varios valores posibles para una columna o subquery. Ejemplo de sintaxis cuando se especifica varios valores:

SELECT column1
FROM Table_name
WHERE column1 IN (value1, value2);.

Ejemplo se sintaxis cuando se usa IN en una subquery:

SELECT TrackId, Name, AlbumId
FROM Tracks
WHERE AlbumId IN
    (SELECT AlbumId
    FROM Albums
    WHERE ArtistId = 12);.

6.4.1 Práctica:
Traer la tabla de países únicamente con Italia

Deben filtrar la tabla de países y traer únicamente a Italy. La tabla de resultados deberá contener los campos id y name de la tabla Country de la base de datos de Fútbol Europeo.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
#Muestra solamente el id y nombre de Italia
query = """SELECT id, name
        FROM Country WHERE name = 'Italy'; """
countries_not = pd.read_sql(query,conn)
countries_not

6.4.2 Práctica:

Traer la tabla de países sin Polonia¶
Deben traer la tabla de países sin Poland. La tabla de resultados deberá contener los campos id y name de la tabla Country de la base de datos de Fútbol Europeo. No se debe utilizar NOT.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT name As country
            FROM country WHERE country <> 'Polonia';"""
country_not= pd.read_sql(query, conn)
country_not
# Hay 11 paises diferentes a Polonia en la liga de futbol europeo

6.4.3 Práctica:

Listar los jugadores que pesen entre 174 y 176 libras
Queremos listar a los jugadores que cumplan con la condición de pesar entre 174 y 176 libras. En la tabla de resultados quiero ver los campos id,player_name, birthday, height y weight de los que cumplen la condición. Todos se encuentran en la tabla Player. Asimismo, debemos limitar la consulta a 30 registros.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT id,player_name, birthday, height, weight
            FROM player WHERE weight BETWEEN 174 AND 176; """
players_weightweight = pd.read_sql(query, conn)
players_weight
# listar los el id, nombre, fecha de nacimiento, altura y peso de 30 jugadores que pesan 174 y 176 libras.

6.4.4 Práctica:
Listar a los Messi de la base de datos de jugadores

Queremos listar a los jugadores que cumplan con la condición de tener la palabra 'Messi' en su nombre. En la tabla de resultados quiero ver los campos id,player_name, birthday, height y weight de los que cumplen la condición. Todos se encuentran en la tabla Player.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """ SELECT id, player_name, birthday, height, weight
            FROM player WHERE player_name LIKE "%Messi%"; """
player_messi = pd.read_sql(query, conn)
player_messi
# Mostrar el id, nombre, fecha cde nacimiento, altura y peso del jugador Messi

Alias AS

Los alias en SQL se utilizan para dar a una tabla o a una columna, un nombre temporal. Se utilizan a menudo para hacer más legibles los nombres de las columnas. Un alias sólo existe durante la duración de la consulta.

Sintaxis de AS:

SELECT column_name AS alias_name

FROM table_name AS other_alias;

7. Sentencia ORDER BY

La sentencia ORDER BY se utiliza para ordenar el conjunto de resultados en orden ascendente o descendente. Por defecto, los registros se ordenan en orden ascendente ASC. Para ordenar los registros en orden descendente, utilice la palabra DESC.

Sintaxis de ORDER BY

SELECT column1, column2, ...

FROM table_name

WHERE condition

ORDER BY column2 ASC|DESC;

7.1.1 Ejemplo: Listar a los equipos y ordenarlos por nombre

Queremos listar a los equipos de la tabla Team y ordenarlos ascedentemente por nombre team_long_name. Adicionalmente, vamos a limitar la lista a 25 registros.

Ejecuta (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """SELECT id, team_long_name AS team_name
            FROM Team ORDER BY team_long_name ASC LIMIT 25; """
teams_orderby = pd.read_sql(query, conn)
teams_orderby
# Muestra los 25 primeros nombres de equipos ordenados por nombre en orden ascendente.

7.1.2 Práctica: Listar la tabla de países en orden descendente

Deben listar la tabla Country de forma descendente DESC por el campos name. La tabla de resultados deberá contener los campos id y name.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query =  """ SELECT id, name
             FROM country ORDER BY name DESC; """
teams_orderdesc = pd.read_sql(query, conn)
teams_orderdesc
# Mostrar la tabla Country de forma descendente DESC por el campos name.

7.1.3 Práctica:
Listar el id de los 15 jugadores con menos peso

Deben listar la tabla Player de forma ascendente ASC por el campo weight. La tabla de resultados deberá contener los campos id, player_name y weight.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """SELECT id, player_name, weight
           FROM player ORDER BY weight ASC LIMIT 15; """
player_weightasc = pd.read_sql(query, conn)
player_weightasc
# listar la tabla Player de forma ascendente por el campo weight.

7.1.4 Práctica: Listar el id de los 10 jugadores con mayor estatura

Deben listar la tabla Player de forma descendente DESC por el campos height. La tabla de resultados deberá contener los campos id, player_name y height.

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

In [ ]:
query = """SELECT id, player_name, height
           FROM player ORDER BY height DESC LIMIT 10; """
player_heightdesc = pd.read_sql(query, conn)
player_heightdesc
# Muestra la maxima estatura de 10 jugadores, el id ordenados por el campo height.

7.1.5 Práctica: Listar el id de los 10 jugadores con mayor estatura y ordenarlos alfabéticamente pero de forma descendente

Deben listar la tabla Player de forma descendente DESC por el campos height y player_name. La tabla de resultados deberá contener los campos id, player_name y height.

In [ ]:
query = """SELECT id, player_name, height
          FROM player ORDER BY height, player_name LIMIT 10; """
player_height_name = pd.read_sql(query, conn)
player_height_name
# Muestra los 10 nombres de jugadores mas altos.

8. Sentencia GROUP BY

La sentencia GROUP BY agrupa las filas que tienen los mismos valores en filas de resumen, como "encontrar el número de clientes en cada país". Se utiliza sobre dimensiones y métricas para agrupar el conjunto de resultados en una o más columnas.

Las dimensiones son todos aquellos valores que estamos describiendo en el SELECT. Y las métricas son que se utilizan a menudo con funciones agregativas (COUNT, MAX, MIN, SUM, AVG).

Sintaxis de GROUP BY;

SELECT column1, column2, ...

FROM table_name

WHERE condition

GROUP BY column1

ORDER BY column2 ASC|DESC;

Nota: El uso de WHERE antes de GROUP BY hace que este se ejecute más rápido, ya que el motor de base de datos no se tomará el tiempo de agrupar cosas que no necesita.

Nota2: Es muy importante utilizar las mismas dimensiones tanto en el SELECT, como en el GROUP BY. De lo contrario, la salida podría ser errónea.

8.1.1 Ejemplo: Queremos conocer cuántos equipos tienen cada tipo de velocidad de juego

Queremos conocer cuántos equipos de la tabla Team_Attributes tienen cada tipo de velocidad juego. Es decir: cuántos tienen buildUpPlaySpeedClass = 'Fast', buildUpPlaySpeedClass = 'Balanced' y cuántos buildUpPlaySpeedClass = 'Slow'

In [ ]:
query = """SELECT COUNT(buildUpPlaySpeedClass)AS PlaySpeedClass
           FROM team_attributes
           GROUP BY buildUpPlaySpeedClass ; """
teams_speed = pd.read_sql(query, conn)
teams_speed
# Muestra las diferentes velocidades de juego de los equipos

In [ ]:
query = """SELECT COUNT(buildUpPlaySpeedClass)AS PlaySpeedClass
           FROM team_attributes
           GROUP BY buildUpPlaySpeedClass LIKE '%fast%',buildUpPlaySpeedClass
           LIKE '%balanced%',buildUpPlaySpeedClass LIKE 'slow'; """
teams_speed = pd.read_sql(query, conn)
teams_speed
# muestra que 102 equipos tienen velocidad de juego fast, 1184 equipos tienen velocidad balanced y
#172 equipos tienen velocidad slow

In [ ]:
query = """SELECT COUNT(buildUpPlaySpeedClass) AS play_speedclass
           FROM team_attributes ; """
teams_speed = pd.read_sql(query, conn)
teams_speed
# 1458 equipos tienen diferentes tipos de velocidades

8.1.2 Práctica: Queremos conocer cuántos equipos tienen cada clase de juego defensivo

Queremos conocer cuantos equipos de la tabla Team_Attributes que tienen cada clase de juego defensivo. Es decir: cuántos defencePressureClass = 'Medium', defencePressureClass = 'Deep' y defencePressureClass = 'High'.

P

In [ ]:
query = """SELECT COUNT(defencePressureClass)AS defenseClass
           FROM team_attributes
           GROUP BY defencePressureClass LIKE '%Deep%',
           defencePressureClass LIKE '%Medium%',
           defencePressureClass LIKE '%High%'; """
defence_pressureClass = pd.read_sql(query, conn)
defence_pressureClass
# 1243 equipos tienen una presion de defensa media, 154 equipos tienen una presion defensa profunda
#y 61 equipos tienen una presion de defensa alta

9. Sentencias JOIN

JOIN se usa cuando se quiere conectar dos tablas entre sí. Funciona cuando tienes una clave común en cada una de ellas. Entender el concepto de Claves es crucial para conectar (unir) conjuntos de datos (tablas).

Recuerden: Una clave es un valor que podemos usar para referirnos a una fila o registro específico de una tabla. Puede consistir en un valor (celda) que generalmente es un ID, o de una combinación de valores que son únicos en la tabla (clave compuesta).

Sintaxis de JOIN;

SELECT first_table.column1, firts_table.column2, second_table.columnA, second_table.columnB ...

FROM first_table (LEFT | RIGHT | FULL) JOIN second_table ON first_table.columnID = second_table.columnID;

9.1 Tipos de JOIN

JOIN: mantiene sólo los registros que coinciden con la condición (después del ON) en ambas tablas, y los registros de ambas tablas que no coincidan, no aparecerían en la tabla de resultado.

LEFT JOIN: devuelve todos los registros de la primera tabla (izquierda), y los registros coincidentes de la segunda tabla (derecha). El resultado es NULL del lado derecho, si no hay coincidencia.

RIGHT JOIN: devuelve todos los registros de la segunda tabla (derecha), y los registros coincidentes de la primera tabla (izquierda). El resultado es NULL del lado izquierdo, si no hay coincidencia.

FULL JOIN: devuelve todos los registros cuando hay una coincidencia en los registros de la primera tabla (izquierda) o segunda tabla (derecha). Nota:

FULL JOIN puede potencialmente devolver conjuntos de resultados MUY grandes.

image.png

Cuando se quiere unir diferentes tablas, es necesario que pienses en lo siguiente:

Decidir qué tipo de unión usar. Las más comunes son: JOIN y LEFT JOIN.
Especificar el valor común que se utiliza para conectar las tablas (la clave).
Asegurarse de que al menos uno de los valores tiene que ser una clave en su tabla.
Y por último, ¡Paciencia! Usar los JOIN de forma incorrecta, es el error más común (y a veces peligroso) cuando se escriben consultas complicadas.

9.2.1 Ejemplo: Lista de ligas y su país

Queremos conocer a qué país corresponde cada liga. Para hacerlo, vamos a necesitar la información de las tablas Countryy League, uniendolas por su clave en común: Country.id = League.country_id.

In [ ]:
# Queremos conocer a que pais corresponde cada liga
query = """SELECT L.id AS Id_Liga, L.name AS Nombre_Liga, C.name AS Pais
        FROM Country AS C
        JOIN League AS L ON C.id = L.country_id;"""

country_leagues = pd.read_sql(query, conn)
country_leagues
# Lista los id y nombres de las ligas con su correspondiente pais.

In [ ]:
# Queremos conocer a que pais corresponde cada liga
query = """SELECT L.id AS Id_Liga, L.name AS Nombre_Liga, C.name AS Pais
        FROM League AS L
        JOIN Country AS C ON C.id = L.country_id;"""

country_leagues = pd.read_sql(query, conn)
country_leagues
# Lista los id y nombres de las ligas con su correspondiente pais.

9.2.2 Práctica: Comparación de cantidad de partidos jugados en cierta temporada de España y Bélgica

Queremos realizar una comparación de la cantidad de partidos jugados en season = '2008/2009' entre los países 'Spain' y 'Belgium'. Los datos necesarios se encuentran en las **tablas Match y Country.** Asimismo, la tabla de resultados debe visualizarse de la siguiente manera:

**la columna con el nombre del país debe llamarse country_name
la columna con el conteo de partidos debe llamarse count_matches**
debemos visualizar al país con más partidos jugados en primer lugar

En esta consulta, la condición WHERE se agrupa de manera explícita con paréntesis, lo que cambia el orden de evaluación. Primero se evalúa la condición dentro de los paréntesis, y luego se combina con la condición de la temporada. Por lo tanto, se agrupa de la siguiente manera:
m.season = '2008/2009' AND (c.name = 'Spain' OR c.name = 'Belgium')
sto significa que se seleccionarán las filas donde la temporada sea '2008/2009' y el nombre del país sea 'Spain' o 'Belgium'. Esto asegura que solo se seleccionarán filas que pertenezcan a la temporada especificada y que estén en España o Bélgica.

In [ ]:
query = """ SELECT c.name AS country_name,
            COUNT(m.id) AS count_matches
            FROM Match m
            JOIN Country c ON m.country_id = c.id
            WHERE m.season = '2008/2009'
            AND (c.name = 'Spain' OR c.name = 'Belgium')
            GROUP BY c.name
            ORDER BY count_matches DESC; """
country_matches = pd.read_sql(query, conn)
country_matches

En esta consulta, la condición WHERE se evalúa de izquierda a derecha, y debido a que la precedencia de operadores AND es mayor que la de OR, la consulta se agrupa de la siguiente manera:

(m.season = '2008/2009' AND c.name ='Spain') OR c.name = 'Belgium'
Esto significa que se seleccionarán las filas donde la temporada sea '2008/2009' y el nombre del país sea 'Spain', y también las filas donde el nombre del país sea 'Belgium', sin importar la temporada. Esto puede no ser la intención deseada, ya que se pueden incluir filas de 'Belgium' que no pertenecen a la temporada especificada

In [ ]:
query = """SELECT country.name AS country_name, COUNT( match.country_id ) AS count_matches
FROM country
JOIN Match ON Country.id = match.country_id
WHERE match.season = '2008/2009'AND country.name ='Spain' OR country.name = 'Belgium'
GROUP BY country.name  ORDER BY count_matches DESC; """

country_matches = pd.read_sql(query, conn)
country_matches

9.2.3 Práctica:

Lista detallada de juegos

Queremos un detalle de 10 juegos realizados en el país Spain, ordenado de forma ascendente por date.

Lo que nos interesa ver es:

el id del encuentro,
el Country.name bajo alias country_name,
el League.name bajo alias league_name,
season,
stage,
date,
el team_long_name del equipo local bajo alias home_team,
el team_long_name del equipo visitante bajo alias away_team,
home_team_goal y
away_team_goal
Esta información se encuentra repartida entre las tablas: Match, Country, League y Team. Teniendo en cuenta que las claves compartidas entre tablas son estas:

Country.id = Match.country_id

League.id = Match.league_id

Team.team_api_id = Match.home_team_api_id

Para ello deberán escribir la consulta SQL entre un par de 3 comillas dobles: """consulta SQL""" después de la palabra query =

Una vez que estén lo tengan listo, ejecuten (haciendo clic en ejecutar o Shift+Enter) el códido de abajo

Algunas pistas o consejos para el ejercicio: En el ejercicio queremos mostrar sólo las columnas que nos interesan, así que en lugar de * usamos los nombres exactos. Algunas de las columnas tienen el mismo nombre (Ejemplo: Country.name,League.name), por lo que las renombramos usando AS.

Esta consulta tiene algunos JOIN. La razón es que la base de datos utilizada está diseñada en una estructura de estrella. Es decir, tiene una tabla (Match) con todo el "rendimiento del encuentro" y métricas, pero sólo IDs como claves foráneas. Mientras que toda la información descriptiva se encuentra almacenada en otras tablas como: Country, League y Team.

Tengan en cuenta que se puede realizar 2 JOIN con la tabla Team. Esto es un truco, ya que usamos la misma tabla pero básicamente traemos dos copias diferentes de ella, renombrandola con AS. Ejemplo: Team AS HomeTeam y Team AS AwayTeam. La razón es que se necesitaba traer información de goles sobre dos valores diferentes (home_team_api_id y away_team_api_id), y si unimos a la misma tabla, significaría que son iguales entre sí.

También podrías utilizar LEFT JOIN sobre la tabla Team. Depende de si prefieres mantener los datos de los juegos en la tabla de resultados, incluso si uno de los equipos no aparece en la tabla Team.

ORDER BY se podría usar para definir el orden de la tabla de resultados.

In [ ]:

query = """ SELECT match.id, Country.name AS country_name, League.name AS league_name, season, stage, date,
team_long_name AS home_team, team_long_name AS away_team, home_team_goal, away_team_goal
FROM Match, Country, League, Team; """

#No modificar lo siguiente:
detailed_matches = pd.read_sql(query, conn)
detailed_matches

el id del encuentro, el Country.name bajo alias country_name, el League.name bajo alias league_name, season, stage, date, el team_long_name del equipo local bajo alias home_team, el team_long_name del equipo visitante bajo alias away_team, home_team_goal y away_team_goal Esta información se encuentra repartida entre las tablas: Match, Country, League y Team. Teniendo en cuenta que las claves compartidas entre tablas son estas:

Country.id = Match.country_id

League.id = Match.league_id

Team.team_api_id = Match.home_team_api_id