<a href="https://colab.research.google.com/github/miemguri/Talentotech2024/blob/main/Taller3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
path ='/content/drive/MyDrive/Colab Notebooks/data/DB/'

In [8]:
# Importacion de librerias
import pandas as pd # librería de Python para manipulación de datos
import sqlite3 #SQLite

In [9]:
database = path + 'database .sqlite'

In [10]:
#Creamos la conexión con la BD y listaremos las tablas con las que contamos
conn = sqlite3.connect (database)
print("Conexión exitosa")

Conexión exitosa

In [19]:
query =  SELECT *
           FROM Country;
countries = pd.read_sql(query,conn)

SyntaxError: invalid syntax (<ipython-input-19-3b0d504b5263>, line 1)